@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --color: #111111;
  --border-color: #fbf8f8;
}

.dark {
  --background-color: #000000;
  --color: #ffffff;
  --border-color: #1d1c1c;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

.list {
  border: 2px solid var(--border-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
